<div id="<%= dom_id story %>">
  <p>
    <strong>Name:</strong>
    <%= story.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= story.slug %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= story.description %>
  </p>

</div>
