body {
  padding-top: 56px;
}

.sidebar {
  position: sticky;
  top: 56px;
  height: calc(100vh - 56px);
  overflow-y: auto;
}

.left-sidebar {
  border-right: 1px solid #dee2e6;
}

.right-sidebar {
  border-left: 1px solid #dee2e6;
}

.nav-link {
  padding-top: 0px;
  padding-bottom: .1rem;
}

.nav-sublink {
  padding-left: 1rem !important;
}

.nav-link.active {
  font-weight: bold;
}

.menu-header {
  margin-bottom: 0.25rem;
}