<div id="<%= dom_id location_type %>">
  <p>
    <strong>Name:</strong>
    <%= location_type.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= location_type.description %>
  </p>

  <p>
    <strong>Story:</strong>
    <%= location_type.story_id %>
  </p>

</div>
