<% content_for :title, "New location type" %>

<h1>New location type</h1>

<%= render "form", location_type: @location_type %>

<br>

<div>
  <%= link_to "Back to location types", location_types_path %>
</div>
